<div class="filters">
    <mat-form-field>
      <mat-label>Order By</mat-label>
      <mat-select
        panelClass="sort-select"
        [(ngModel)]="order"
        (selectionChange)="searchPlants(order)"
      >
        <mat-option value="asc">Ascending</mat-option>
        <mat-option value="desc">Descending</mat-option>        
      </mat-select>
    </mat-form-field>
</div>

  <div class="plants">
    <ng-container *ngFor="let plant of plants">
    <div class="plant" (click)="openPlantDetails(plant.id)">
        <div class="plant-thumb-container">
          <p *ngIf="!plant.default_image">No Image Available</p>
            <img
                *ngIf="plant.default_image"
                src="{{ plant.default_image.regular_url }}"
                alt="thumbnail"
                class="plant-thumbnail"
                />        
        </div>
        <div class="plant-description">
          <p class="plant-name">{{ plant.common_name }}</p>        
        </div>
      </div>
    </ng-container>
  </div>