<div class="details">
    <div class="plant-banner">
        <img
        class="plant-banner-img"
        src="https://previews.123rf.com/images/erinshop/erinshop2001/erinshop200100031/138104761-cute-home-gardening-horizontal-banner-background-trendy-hand-drawn-plants-in-pots-in-simple-flat.jpg"
        alt="background image"
        />
    </div>
    <div class="plant-content">
        <div class="details-wrapper">
            <div class="plant-header">
                <h1 class="plant-header-title">Plant Common Name</h1>
                <h2 class="plant-header-scientific-name">Plant Scientific Name</h2>
            </div>
            <div class="plant-notes">
                <p>Notes to be added here</p>
            </div>
        </div>
    </div>
</div>