<div class="container">
    <div class="card">
      <div class="card-body">
        <div class="plant-card">
          <p *ngIf="!plant.default_image">No Image Available</p>
          <img *ngIf="plant.default_image" [src]="plant.default_image.regular_url" alt="thumbnail" class="plant-thumbnail" />
        </div>
        <div class="plant-content">
          <div class="details-wrapper">
            <div class="plant-header">
              <h1 class="plant-header-title">{{ plant.common_name }}</h1>
              <h2 class="plant-header-scientific-name">Scientific Name: {{ plant.scientific_name }}</h2>
            </div>
            <div class="plant-description">
              <p>{{ plant.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>